<header>
  <h1><%= image_tag 'logo.png', :alt => 'Amsterdam 2012 candidate city' %></h1>
  <h2>Vote for Amsterdam as host for the last Euruko before the end of the world!</h2>
  <h3>The Mayans Predicted the world would end in 2012. So lets make the last Euruko the best one yet, and in Amsterdam!</h3>
</header>

<section id='vote'>
  <aside>
    <button>+1 button</button>
    <button>facebook</button>
    <button>twitter</button>
  </aside>
  <p><strong>23012 people</strong> voted for Amsterdam to host EuRuKo 2012</p>
</section>

<section>
  <h1>Where? Amsterdam</h1>
  <p>Where did you say? Amsterdam, isn’t that a sesspool of death and decay?
  Amsterdam is a compact little city, hosting dozens of world-class museums, miles of beautiful canals, well-maintained parks, narrow cobblestone streets with lots of Old World.</p>
<iframe width="364" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Amsterdam,+Netherlands&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Amsterdam,+North+Holland,+Netherlands&amp;ll=52.371617,4.899216&amp;spn=0.048211,0.124626&amp;t=p&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Amsterdam,+Netherlands&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Amsterdam,+North+Holland,+Netherlands&amp;ll=52.371617,4.899216&amp;spn=0.048211,0.124626&amp;t=p&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <aside>
    <!-- fox news -->
    <!-- youtube -->
  </aside>
</section>

<section>
  <h1>Why?</h1>
  <p>Where did you say? Amsterdam, isn’t that a cesspool of death and decay?
  Amsterdam is a compact little city, hosting dozens of world-class museums, miles of beautiful canals, well-maintained parks, narrow cobblestone streets with lots of Old World.</p>
</section>

<section>
  <h1>Who?</h1>
  <figure>
    <%= image_tag 'bruno2.jpg' %>
    <figcaption>
      Bruno Antunes
    </figcaption>
  </figure>
  <figure>
    <%= image_tag 'josh.jpg' %>
    <figcaption>
      Josh Kalderimis
    </figcaption>
  </figure>
  <figure>
    <%= image_tag 'justin2.jpg' %>
    <figcaption>
      Justin Halsall
    </figcaption>
  </figure>
</section>
