<header>
  <h1><%= image_tag 'logo.png', :alt => 'Amsterdam 2012 candidate city' %></h1>
  <h2>Vote for Amsterdam as host for the last Euruko before the end of the world!</h2>
  <h3>The Mayans Predicted the world would end in 2012. So lets make the last Euruko the best one yet, and in Amsterdam!</h3>
</header>

<section id='vote'>

</section>

<section>
  <h1>Where? Amsterdam</h1>
  <p>Where did you say? Amsterdam, isn’t that a sesspool of death and decay?
  Amsterdam is a compact little city, hosting dozens of world-class museums, miles of beautiful canals, well-maintained parks, narrow cobblestone streets with lots of Old World.</p>
  <!-- map -->
  <aside>
    <!-- fox news -->
    <!-- youtube -->
  </aside>
</section>

<section>
  <h1>Why?</h1>
  <p>Where did you say? Amsterdam, isn’t that a sesspool of death and decay?
  Amsterdam is a compact little city, hosting dozens of world-class museums, miles of beautiful canals, well-maintained parks, narrow cobblestone streets with lots of Old World.</p>
</section>

<section>
  <h1>Who?</h1>
  <figure>
    <img />
    <figcaption>
      Bruno Antunes
    </figcaption>
  </figure>
  <figure>
    <img />
    <figcaption>
      Josh Kalderimis
    </figcaption>
  </figure>
  <figure>
    <img />
    <figcaption>
      Justin Halsall
    </figcaption>
  </figure>
</section>
