/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
$grid-margin: 20px;
$grid-column: 172px;

body { font: 14px/1.3em Helvetica, Arial, sans-serif; }
h1,h2,h3 { font-family: "Nobile", Times, serif; font-weight: normal; line-height: 1.5em; margin: 0 0 $grid-margin / 2 0; }
h1 { font-size: 48px }
p { margin: $grid-margin 0 0 0; }

header, section {
  margin: $grid-margin auto;
  display: block;
  width: 596px;
  padding: $grid-margin;
}

aside { display: block; }

header {
  overflow: hidden;
  h1 { float: left; margin: 0; }
  img { display: block; }
  h2, h3 { margin: 0 0 0 ($grid-column * 1.5) + ($grid-margin * 1.5); }
  h2 { font-size: 21px }
  h3 { font-size: 14px }
}

#vote {
  background-color: #A3A3A3;
  color: white;
  p { margin-left: $grid-column + $grid-margin; }
  strong {
    display: block;
    margin-bottom: $grid-margin;
    font: {
      weight: normal;
      size: 48px;
    }
  }
  aside {
    float: left;
    width: $grid-column;
  }
}